assets/portfolio_gallery/01_main_artworks/*
assets/portfolio_gallery/02_creatures/*
assets/portfolio_gallery/03_traditional/*
assets/portfolio_gallery/04_sketches/*
assets/portfolio_gallery/05_fanart/*


